<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>taiwanman</key>
	<string>尚無資料;尚無資料;尚無資料</string>
	<key>taiwanitem</key>
	<string>尚無資料;尚無資料;尚無資料</string>
	<key>tpe4hp</key>
	<string>尚無資料;尚無資料;尚無資料</string>
	<key>tpe4man</key>
	<string>尚無資料;尚無資料;尚無資料</string>
	<key>tpe4item</key>
	<string>尚無資料;尚無資料;尚無資料</string>
	<key>tpq1hp</key>
	<string>尚無資料;尚無資料;尚無資料</string>
	<key>tpq1man</key>
	<string>尚無資料;尚無資料;尚無資料</string>
	<key>tpq1item</key>
	<string>尚無資料;尚無資料;尚無資料</string>
	<key>tpq6hp</key>
	<string>尚無資料;尚無資料;尚無資料</string>
	<key>tpq6man</key>
	<string>尚無資料;尚無資料;尚無資料</string>
	<key>tpq6item</key>
	<string>尚無資料;尚無資料;尚無資料</string>
	<key>date</key>
	<string>無更新日期</string>
</dict>
</plist>
