<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TPE-4hp</key>
	<string>尚無資料</string>
	<key>TPE-4man</key>
	<string>尚無資料</string>
	<key>TPE-4item</key>
	<string>尚無資料</string>
	<key>TPQ-1hp</key>
	<string>尚無資料</string>
	<key>TPQ-1man</key>
	<string>尚無資料</string>
	<key>TPQ-1item</key>
	<string>尚無資料</string>
	<key>TPQ-6hp</key>
	<string>尚無資料</string>
	<key>TPQ-6man</key>
	<string>尚無資料</string>
	<key>TPQ-6-item</key>
	<string>尚無資料</string>
</dict>
</plist>
